<div class="brand-details" style="background-color:{{ section.settings.background_color }}">

  {% unless section.settings.video_banner == blank  %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/rgZU5pDf6mw?si=89QTaT7tEXx3da-X" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  {% elsif section.settings.brand_details_img != blank  %}
    <img class="brand-details__img {{ section.settings.custom_class }}" src="{{ section.settings.brand_details_img | img_url: 'master' }}" height="100" width="100" />
  {% endunless %}
  
  {% if section.settings.title != blank %}
    <div class="brand-details__title">
      {{ section.settings.title }}
    </div>
  {% elsif section.settings.svg_title != blank %}
    <div class="brand-details__title">
    {{ section.settings.svg_title }}
    </div>
  {% elsif section.settings.img_title != blank %}
    <div class="brand-details__title">
      <img src="{{ section.settings.img_title | img_url:"master" }}" width="100" height="100"/>
    </div>
  {% endif %}

  <div class="brand-details__description">
    {{ section.settings.description }}
  </div>

  {% if section.settings.enable_button %}
    <div class="brand-details__button">
      <button>View Opihr's Range</button>
    </div>  
  {%  endif %}

</div>

<script>
  const currentUrl = window.location.href;
  console.log(">>>>>>>>>>>>>>>>>>", currentUrl);
</script>


{% schema %}
  {
    "name": "Brand Details",
    "settings": [
      {
        "type": "text",
        "id": "custom_class",
        "label": "Custom Class For Banner Image"
      },
      {
        "type": "image_picker",
        "id": "brand_details_img",
        "label": "Banner Image Mobile"
      },
      {
        "type": "image_picker",
        "id": "brand_details_img_desktop",
        "label": "Banner Image Desktop"
      },
      {
        "type": "url",
        "id": "video_banner",
        "label": "Video Banner"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#ffffff"
      },
      {
        "type": "richtext",
        "id": "title",
        "label": "Title (Text)"
      },
      {
        "type": "text",
        "id": "svg_title",
        "label": "Title (SVG)"
      },
      {
        "type": "image_picker",
        "id": "img_title",
        "label": "Title (Image)"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description"
      },
      {
        "type": "checkbox",
        "id": "enable_button",
        "label": "Enable Button"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      }
    ],
    "presets": [
      {
        "name": "Brand Details"
      }
    ]
  }
{% endschema %}